*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* head */
.head-abu{
  background: #f5f5f5;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-abu{
  max-width: 50%;
  transition: 0.4s;
  box-sizing: border-box;
}

.content-abu .about{
  margin: 5%;
}


/* VISION & MISSION */
.box-abu{
  text-align: center;
  background: #f5f5f5;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.header{
  padding-top: 60px;
  font-size: 50px;
  margin: auto;
  line-height: 50px;
}

.header span{
  font-size: 50px;
  background: white;
  border-radius: 30px;
  padding: 0 5% 0 5%;
}

.sub-container{
  max-width: 1200px;
  margin: auto;
  padding: 48px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.teams{
  margin: 10px;

  max-width: 20%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams img{
  width: 200px;
  height: 150px;
  border-radius: 30px;
  overflow: hidden;
  background-color: blue;
}

.name{
  padding: 12px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.about{
  margin: 20px 0;
  font-weight: lighter;
  font-size: 14px;
  color: #4e4e4e;
  padding: 0 1rem;
}

@media screen and (max-width: 600px){
  .teams{
    max-width: 100%;
  }
  .contentabu{
    max-width: 100%;
    margin: 2%;
  }
  .contentabu img{
    max-width: 100%;
  } 
}