*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.img2{
    width: 80%;
    height: 20%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.carousel-control-prev{
    margin-left: 10%;
    color: black;
}

.carousel-control-prev-icon{
    background-color: rgb(163, 163, 163);
    border-radius: 20px;
}


.carousel-control-next{
    margin-right: 10%;
}

.carousel-control-next-icon{
    background-color: rgb(163, 163, 163);
    border-radius: 20px;
}

/* ด้านล่างข่าวสารกิจกรรม */
.text-AC{
    color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*กำหนดให้ในเเถวเดียวกันอยู่ตรงกลาง*/
}

.AC-col{
    position: relative;
    width: 14.285%;
    text-align: center;
    margin-top: 20px;
}

.AC-col img{
    width: 100%;
    height: 100%;
    display: flex; 
    padding: 5%; /*ในนอก*/
}

/* ขยายรูป */
.AC-col img{
    transform: scale(1);
    transition: 0.3s ease-in-out ;
}
.AC-col img:hover{
    transform: scale(1.1);
    
}

@media(max-width: 767px){
    .AC-col {
        height: 20%;
        width: 28%;
    }
}

/* main_activity หน้าหลัก */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    background: #f1f1f1;
    border-radius: 20px;
}

.text-icon{
    margin-left: 7%;
}

.bi.bi-file-text{
    font-size: 400%;
    color: black;
}

.bi.bi-box-seam{
    font-size: 400%;
    color: black;
}

.bi.bi-building{
    font-size: 400%;
    color: black;
}

.mac-left .bi.bi-file-text:hover{
    color: rgb(124, 124, 124);
}
.mac-center .bi.bi-box-seam:hover{
    color: rgb(124, 124, 124);
}
.mac-right .bi.bi-building:hover{
    color: rgb(124, 124, 124);
}

.content{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    border-radius: 20px;
    background: #e9e9e9;
}

@media(max-width: 414px) {
    .menu{
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .mac-left{
        margin-top: 3%;
    }
    .mac-center{
        margin-top: 3%;
    }
    .mac-right{
        margin-top: 3%;
    }
    .bi.bi-file-text{
        font-size: 200%;
        margin-left: 20%;
    }
    .bi.bi-box-seam{
        font-size: 200%;
        margin-left: 25%;
    }
    .bi.bi-building{
        font-size: 200%;
        margin-left: 20%;
    }
}

.text{
    text-decoration: none;
    color: black;
}


