.img2{
    width: 80%;
    height: 20%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.carousel-control-prev{
    margin-left: 20%;
}

.carousel-control-next{
    margin-right: 20%;
}

/* ด้านล่างข่าวสารกิจกรรม */

.text-AC{
    color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*กดหนดให้ในเเถวเดียวกันอยู่ตรงกลาง*/
}


.AC-col{
    position: relative;
    width: 14.285%;
    text-align: center;
}

.AC-col img{
    width: 100%;
    height: 100%;
    display: flex; 
    padding: 5%; /*ในนอก*/
}

/* .AC-col img:hover{
    width: 102%;
    height: 102%;
    
} */

@media(max-width: 767px){
    .AC-col {
        height: 20%;
        width: 28%;
    }
}



