.container-fluid{
    margin-bottom: 0%;
}

.B{
    margin-top: 5%;
    margin-bottom: 5%;
}

#row-brands{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.brands-col{
    position: relative;
    width: 25%;
}

.brands-col img{
    width: 80%;
    height: auto;
    padding: 5%;
    display: block;
    margin: auto;
}

@media(max-width: 767px){
    #row-brands{
        width: 100%;
    }
    .brands-col {
        width: 50%;
    }
    .brands-col img{
        width: 90%;
    }
}