/* brands */
.container-fluid{
    margin-bottom: 5%;
}
.brands-col {
    position: relative;
    width: 20%;
}

.brands-col img{
    width: 70%;
    height: auto;
    display: flex;
    padding: 5%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width: 767px){
    .brands-col {
        width: 50%;
    }
}