.tab-contents p{
    font-family: 'Prompt', sans-serif;
}

.container img{
    float: left;
}

#right{
    margin-top: 40px;
}

.quantity{
    display: inline-block;
}

.quantity input{
    width: 50px;
    text-align: center;
}

.quantity button{
    background-color: white;
    border: 0;
}

.quantity .handle i{
    color: black;
}

.quantity .handle {
    display: inline-block;
}

.quantity .addtocart button{
    margin-left: 20px;
    width: 125px;
    height: 30px;
    background: #194276;
    color: white;
    border-radius: 30px;
}

.infomation{
    margin-top: 40px;
}

.tab-contral{
    padding: 0 0 30px 0;
    text-align: center;
}

.tab-contral a{
    padding: 0 30px 0 30px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 1px solid ;
    font-size: 25px;
}

.tab-contral a:hover{
    border-bottom: 3px solid rgb(110, 110, 110);
}

.tab-contents{
    margin: 5% 10% 5% 10%;
}

.tab-contents img{
    width:100%;
}

.line{
    padding-top: 40px;
    border-top: 3px solid ;
}

.tab-contents .col{
    width: 20%;
}

.tab-contents .col a{
    background-color: #F1F1F1;
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 0;
    text-decoration: none;
    color: black;
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	/* text-align: center;
	font-size: 18px; */
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img{
    width: 100%;
}
.swiper-pagination {
	position: absolute;
	top: 10px;
	right: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0;
}
.swiper-pagination-bullet {
	padding: 5px 10px;
	border-radius: 0;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: #007aff;
}

.col img{
    width: 400px;
    height: 400px;
}

.relate_product a{
    background-color: #F1F1F1;
    border: none;
    /* padding: 15px 30px 15px 30px; */
    padding: 3% 6% 3% 6%;
    border-radius: 0;
    text-decoration: none;
    color: black;
}

.col-2{
    width: 30%;
}