*{
    margin: 0;
    padding: 0;
}

.wallpaper img{
    position: relative;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.col {
    text-align: center;
}

.col button {
    background-color: #eaeaea;
    border-radius: 20px;;
    margin: 5% 1% 5% 1%;
    padding: 1% 2% 1% 2%; /* top right bottom left */
    border: none;
}

.col i{
    font-size: 250%;
}

.title p {
    background-color: #eaeaea;
    padding: 5px 0 5px 10px;
    font-size: 150%;
    color: #DC7226;
}

.desc p {
    background-color: white;
    text-align: center;
}


