/* ภาพด้านบน */
.slider{
    position: relative;
    width: 100%;
    background: #2c3e50;
}

.myslider{
    min-height: 100%;
    display: none;
    overflow: hidden;
    justify-items: center;
}

.imgg{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.box{
    display: table;
    height: 170px;
    margin: auto;
}

#imgbrand{
    text-decoration: none; 
    color: black; 
    margin: auto; 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.txt{
    position:absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 55%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 1s;
    animation-name: posi;
    animation-duration: 1s;
    z-index: 1;
}
.txt2{
    position:absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 55%;
    left: 55%;
    -webkit-animation-name: posi4;
    -webkit-animation-duration: 1s;
    animation-name: posi4;
    animation-duration: 1s;
    z-index: 1;
}

@-webkit-keyframes posi{
    from {left: 70%;}
    to {left: 55%;}
}

@keyframes posi{
    from {left: 70%;}
    to {left: 55%;}
}

@-webkit-keyframes posi4{
    from {left: 35%;}
    to {left: 55%;}
}

@keyframes posi4{
    from {left: 35%;}
    to {left: 55%;}
}

.txt h1{
    color: rgb(255, 255, 255);
    font-size: 4.375rem;
    opacity: 1;
}
.txt2 h1{
    color: rgb(255, 255, 255);
    font-size: 4.375rem;
    opacity: 1;
}

.imgg{
    transform: scale(1.1, 1.1);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 1s;
    animation-name: zoomin;
    animation-duration: 1s;
}

@-webkit-keyframes zoomin{
    from {transform: scale(1,1);}
    to {transform: scale(1.1,1.1);}
}

@keyframes zoomin{
    from {transform: scale(1,1);}
    to {transform: scale(1.1,1.1);}
}

@media screen and (max-width:1200px){
    .myslider{
        height: 300px;
    }
    .txt{
        line-height: 25px;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 1s;
        animation-name: posi2;
        animation-duration: 1s;
    }
    .txt2{
        line-height: 25px;
        top: 70%;
        left: 70%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi5;
        -webkit-animation-duration: 1s;
        animation-name: posi5;
        animation-duration: 1s;
    }
    
    @-webkit-keyframes posi2 {
        from {left:30%;}
        to {left: 70%;}
    }
    @keyframes posi2 {
        from {left:30%;}
        to {left: 70%;}
    }
    @-webkit-keyframes posi5 {
        from {left:85%;}
        to {left: 70%;}
    }
    @keyframes posi5 {
        from {left:85%;}
        to {left: 70%;}
    }
    .txt h1{
        font-size: 50px;
    }
    .txt2 h1{
        font-size: 50px;
    }
    .txt .imgg{
        object-fit: cover;
    }
    .txt2 .imgg{
        object-fit: cover;
    }
}

@media screen and (max-width:520px){
    .myslider{
        height: 300px;
    }
    .txt{
        line-height: 25px;
        top: 60%;
        left: 65%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi3;
        -webkit-animation-duration: 1s;
        animation-name: posi3;
        animation-duration: 1s;
    }
    .txt2{
        line-height: 25px;
        top: 80%;
        left: 65%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi6;
        -webkit-animation-duration: 1s;
        animation-name: posi6;
        animation-duration: 1s;
    }
    @-webkit-keyframes posi3 {
        from {top:40%;}
        to {top: 60%;}
    }
    @keyframes posi3 {
        from {top:40%;}
        to {top: 60%;}
    }
    @-webkit-keyframes posi6 {
        from {top:90%;}
        to {top: 80%;}
    }
    @keyframes posi6 {
        from {top:90%;}
        to {top: 80%;}
    }
    .txt h1{
        font-size: 40px;
    }
    .txt2 h1{
        font-size: 40px;
    }
    .txt .imgg{
        object-fit: cover;
    }
}

.container-fluid{
    margin-bottom: 0%;
}

.B{
    margin-top: 5%;
    margin-bottom: 5%;
}

.box{
    text-align: center;
    background: #ffff;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    margin: 5% 0;
    transform: scale(1);
    transition: all 0.3s ease 0s;
}
.box:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 7px 3px;
}

#row-brands{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.brands-col{
    position: relative;
    width: 25%;
}

.brands-col img{
    width: 80%;
    height: auto;
    padding: 5%;
    display: block;
    margin: auto;
}

@media(max-width: 1400px){
    .box{
        height: 130px;
    }
}

@media(max-width: 1200px){
    #row-brands{
        width: 100%;
    }
    .brands-col {
        width: 33%;
    }
    .brands-col img{
        width: 90%;
    }
    .box{
        height: 150px;
    }
}

@media(max-width: 767px){
    #row-brands{
        width: 100%;
    }
    .brands-col {
        width: 50%;
    }
    .brands-col img{
        width: 90%;
    }
}

@media(max-width: 560px){
    .box{
        height: 120px;
    }
}

@media(max-width: 460px){
    .box{
        height: 100px;
    }
}
