*{
    margin: 0;
    padding: 0;
}

.wallpaper img{
    position: relative;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.col {
    text-align: center;
}

.col button {
    background-color: #eaeaea;
    border-radius: 20px;;
    margin: 5% 1% 5% 1%;
    padding: 1% 2% 1% 2%; /* top right bottom left */
    border: none;
}

.col i{
    font-size: 250%;
}

.title p {
    background-color: #eaeaea;
    padding: 5px 0 5px 10px;
    font-size: 150%;
    color: #DC7226;
}

.desc p {
    background-color: white;
    text-align: center;
}

.desc .row{
    margin: 3% 0 3% 0;
    display: flex;
    justify-content: center;
}

.col-1{
    margin: 0% 3% 1% 3%;
}

.col-1 a{
    background-color: #F1F1F1;
    border: none;
    padding: 1em 2em 1em 2em;
    border-radius: 0;
    text-decoration: none;
    color: black;
}

.col-1 p{
    padding-top: 10%;
    white-space: nowrap;
    margin: auto;
}

#vdo{
    width: 350px;
    height: 250px;
    justify-content: center;
    margin-bottom: 5%;
}

.col-1 p{
    align-items: end;
}

@media(max-width: 1024px) {
    .desc .row{
        justify-content: space-around;
    }
}