/* ภาพด้านบน */
.slider{
    position: relative;
    width: 100%;
    background: #2c3e50;
}

.myslider{
    min-height: 100%;
    display: none;
    overflow: hidden;
    justify-items: center;
}

.txt{
    position:absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 55%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 1s;
    animation-name: posi;
    animation-duration: 1s;
    z-index: 1;
}
.txt2{
    position:absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 55%;
    left: 55%;
    -webkit-animation-name: posi4;
    -webkit-animation-duration: 1s;
    animation-name: posi4;
    animation-duration: 1s;
    z-index: 1;
}

@-webkit-keyframes posi{
    from {left: 70%;}
    to {left: 55%;}
}

@keyframes posi{
    from {left: 70%;}
    to {left: 55%;}
}

@-webkit-keyframes posi4{
    from {left: 35%;}
    to {left: 55%;}
}

@keyframes posi4{
    from {left: 35%;}
    to {left: 55%;}
}

.txt h1{
    color: rgb(255, 255, 255);
    font-size: 4.375rem;
    opacity: 1;
}
.txt2 h1{
    color: rgb(255, 255, 255);
    font-size: 4.375rem;
    opacity: 1;
}

.imgg{
    transform: scale(1.1, 1.1);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 1s;
    animation-name: zoomin;
    animation-duration: 1s;
}

@-webkit-keyframes zoomin{
    from {transform: scale(1,1);}
    to {transform: scale(1.1,1.1);}
}

@keyframes zoomin{
    from {transform: scale(1,1);}
    to {transform: scale(1.1,1.1);}
}

@media screen and (max-width:1200px){
    .myslider{
        height: 300px;
    }
    .txt{
        line-height: 25px;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 1s;
        animation-name: posi2;
        animation-duration: 1s;
    }
    .txt2{
        line-height: 25px;
        top: 70%;
        left: 70%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi5;
        -webkit-animation-duration: 1s;
        animation-name: posi5;
        animation-duration: 1s;
    }
    
    @-webkit-keyframes posi2 {
        from {left:30%;}
        to {left: 70%;}
    }
    @keyframes posi2 {
        from {left:30%;}
        to {left: 70%;}
    }
    @-webkit-keyframes posi5 {
        from {left:85%;}
        to {left: 70%;}
    }
    @keyframes posi5 {
        from {left:85%;}
        to {left: 70%;}
    }
    .txt h1{
        font-size: 50px;
    }
    .txt2 h1{
        font-size: 50px;
    }
    .txt .imgg{
        object-fit: cover;
    }
    .txt2 .imgg{
        object-fit: cover;
    }
}

@media screen and (max-width:520px){
    .myslider{
        height: 300px;
    }
    .txt{
        line-height: 25px;
        top: 60%;
        left: 65%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi3;
        -webkit-animation-duration: 1s;
        animation-name: posi3;
        animation-duration: 1s;
    }
    .txt2{
        line-height: 25px;
        top: 80%;
        left: 65%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi6;
        -webkit-animation-duration: 1s;
        animation-name: posi6;
        animation-duration: 1s;
    }
    @-webkit-keyframes posi3 {
        from {top:40%;}
        to {top: 60%;}
    }
    @keyframes posi3 {
        from {top:40%;}
        to {top: 60%;}
    }
    @-webkit-keyframes posi6 {
        from {top:90%;}
        to {top: 80%;}
    }
    @keyframes posi6 {
        from {top:90%;}
        to {top: 80%;}
    }
    .txt h1{
        font-size: 40px;
    }
    .txt2 h1{
        font-size: 40px;
    }
    .txt .imgg{
        object-fit: cover;
    }
}
.col {
    text-align: center;
}



/* หมวดหมู่เเละหัวข้อ */
.col button {
    width: 200px;
    background-color: #eaeaea;
    border-radius: 20px;;
    margin: 1% 1% 5% 1%;
    padding: 1% 1% 1% 1%; /* top right bottom left */
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1);
    transition: all 0.1s ease-in-out 0s;
}
.col button:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.col i{
    font-size: 250%;
}

.title p {
    background-color: #194276;
    color: white;
    padding: 5px 0 5px 10px;
    font-size: 30px;
    font-weight: normal;
    border-radius: 10px;
}



/* ส่วนด้านล่าง */

.container-fluid{
    max-width: 1170px;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 64px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.head1{
    text-align: center; 
    margin-bottom: 1%; 
    background: #194276; 
    color: white; 
    padding: 1% 0;
}
.brand{
    text-align: center;
}
.brand img{
    margin-top: 2%;
    width: 30%;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table-header-theme-blue>thead>tr {
    color: #fff;
    background-color: #194276;
}
.table-header-no-border>thead>tr>th {
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-color: transparent;
    border-left-color: transparent;
}
.text-cust-gray {
    color: #6c6c6c;
}
.text-cust-gray p{
    display: inline;
    color: black;
}
.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.fakescroll{
 visibility: hidden;
 height: 80px;
}

.h4{
    font-weight: bold;
}

.namevdopc{
    margin-top: 10px;
    font-weight: bold;
}

.namecatpre{
    font-weight: bold;
    color: black;
}

.namevdophone{
    font-weight: bold;
    color: black;
}

#phone{
    width: 85%;  
}
#phone iframe{
    width: 100%;  
    height: 350px;
}

#disnone{
    visibility: hidden;
}

.datanotfound{
    text-align: center;
    margin: 10% 0;
    font-weight: bold;
    font-size: 30px;
}

/* responsive */
@media(max-width: 1200px){
    .brand img{
        width: 40%;
    }
    .container-fluid{
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media(max-width: 850px){
    .brand img{
    width: 60%;
    margin-bottom:2%; 
    }
}

@media (min-width: 768px){
    .d-md-none {
    display: none!important;
    }
}

@media(max-width: 767px){
    #disnone{
        display: none;
    }
    #phone{
        width: 100%;
        margin-left: 20%;
    }
    .namevdopc{
        display: none;
    }
    iframe{
        width: 100%;
    }
}

@media(max-width: 751px){
    .col button {
        width: 180px;
    }
}

@media(max-width: 700px){
    .brand img{
        width: 60%;
    }
    .container-fluid{
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media(max-width: 617px) {
    .col button {
        width: 80%;
        border-radius: 10px;
        padding: 2% 4% 2% 4%;
        display: block;
        margin: 5% auto;
    }
}

@media(max-width: 550px) {
    .brand img{
        width: 80%;   
    }
}