*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    /* height: 100%; */
    background: white;
    display: flex;
    align-items: top;
    justify-content: center;
}

.swiper{
    width: 100%;
    /* height: fit-content; */
}


.swiper .swiper-wrapper{
    width: 100%;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    align-items: center;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: black
}

.swiper .swiper-pagination-bullet-active{
    background: white;
}
