*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Prompt', sans-serif;
}

.left .head img{
    width: 200px;
    height: 60.9px;
}

.con {
    /* height: calc( 98% - 60.9px );
    display: flex;
    flex-direction: column;
    justify-content: center; */
    margin-top: 50px;
}

.col-md-6 input{
    border-radius: 30px;
    margin-bottom: 10px;
}

.h-screen {
    height: 100vh;
    display: flex;
}
.left ,.right{
    width: 50%;
}
.left {
    display: flex;
    justify-content: end;
    padding: 2%;
}
.left-con {
    width: 100%;
    max-width: 800px;
}

.row a{
    text-decoration: none;
    color: black;
}

.btn{
    width: 150px;
    height: 40px;
    background: #194276;
    color: white;
    border-radius: 30px;
}
.btn:hover {
    color: #194276;
    border-color: #194276;
}

.bottom a{
    color: #0930FF;
}

.bottom p{
    text-align: center;
}

a[forgotPass]:hover{
    text-decoration: underline;
}
.underline a{
    position: relative;
}
.underline a span::after {
    position: absolute;
    content: '';
    height: 0.1rem;
    width: 100%;
    background: #0930FF;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0% 100%;
}

.underline a span:hover::after {
    transform: scaleX(1);
    transition: transform 0.2s ease-in;
}


.con form .mb-3 {
    display: flex;
}

.con form .mb-3 .col-md-6{
    margin-left: 1.2rem;
}

.bottom {
    margin-top: 1.5rem;
}

.right {
    max-height: 100vh;
}

.right img {
    height: 100vh;
    width: 50vw;
    object-fit: cover;
}