*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Prompt', sans-serif;
    /* overflow-x: hidden; */
}

/* navbar */
nav.navbar img{
    width: 12vw;
    height: auto;
}

nav.navbar{
    display:flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    padding: 0;
    position: relative;
}

.bar{
    display: none;
    font-size: 50px;
    color: black;
}

/* navbar left*/
nav.navbar .leftEle{
    display:flex;
    flex-direction: row;
}

.navbar .leftEle .navbar-nav{
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-evenly;
}

.navbar .leftEle .navbar-nav a.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    white-space: nowrap;
}

nav.navbar .leftEle .navbar-nav li .nav-link{
    height: 100%;
}

.navbar .leftEle .navbar-nav li .sub-menu{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color: #cac6c6;
    flex-direction: column;
    top: 58px;
    cursor: pointer;
    width: 40vw;
    list-style: none;
    text-decoration: none;
    padding: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: 0;
    transition: all 0.2s ease;
    transition-delay: 0.5s;
}

.navbar .leftEle .navbar-nav li:hover .sub-menu{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s ease;
}

nav.navbar .leftEle .navbar-nav li .sub-menu li{
    padding: 1rem 0;
    width: 100%; 
    text-align: center;
}

nav.navbar .leftEle .navbar-nav li .sub-menu li a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
    white-space: nowrap;
}

nav.navbar .leftEle .navbar-nav li:hover .sub-menu li:hover a{
    opacity: 1;
}

nav.navbar .leftEle .navbar-nav li:hover .sub-menu li:hover{
    background-color: #abaaaa;
    opacity: 1;
}

.sub-menu li .supersub-menu:hover{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color: #cac6c6;
    flex-direction: column;
    cursor: pointer;
    width: 60vw;
    list-style: none;
    text-decoration: none;
    padding: 0;
    left: 40vw;
    z-index: 3;
    opacity: 1;
    pointer-events: none;
    transition: 0;
    transition: all 0.2s ease;
    transition-delay: 0.5s;
    top: 0;
}

.sub-menu li:hover .supersub-menu{   
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s ease;
}

.sub-menu li .supersub-menu li{
    padding: 1rem 0;
    width: 100%; 
    text-align: center;
}

.sub-menu li .supersub-menu li a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
    white-space: nowrap;
}

.sub-menu li:hover .supersub-menu li:hover a{
    opacity: 1;
}

.nav-link{
    transition: 0.2s;
    border-bottom: 3px solid transparent;
}

.nav-link:hover{
    border-bottom: 3px solid rgb(110, 110, 110);
    color: #194276;
}

/* navBar right*/
.rightEle {
    display: flex;
    flex-direction: row;
}

.search-bar{
    width: auto;
    max-width:fit-content;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 1em 15px;
    box-shadow:  0px 0px 7px 3px rgba(0,0,0,0.2);
    margin-right: 30px;
}

.search-bar input{
    flex: 1;
    border: 0;
    outline: none;
}

.search-bar button{
    border: 0;
    background-color: #ffffff;
}

.icon{
    border: none;
    background: none;
    margin-right: 20px;
    color: black;
    font-size: 20px;
}

.icon:hover{
    color: #194276;
}

/* dropdown User */
.dropdown-item{
    text-align: center;
    text-decoration: none;
}

.dropdown-item:hover{
    color: white;
    background-color: rgb(159, 157, 157);
}

.hoverdropdown:hover ul.dropdown-menu{
    margin-top: 25px;
    background-color: #cac6c6;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    transition: all .13s ease-in-out;
    z-index: 20;
    transition-delay: 0s;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.hoverdropdown:hover ul.dropdown-menu li{
    padding: 0.6rem 0;
    transition: 0.2s all ease;
}

.hoverdropdown:hover ul.dropdown-menu li:hover{
    color: white;
}

/* footer */
.footer .row{
    justify-content: left;
}

footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    position: absolute;
    margin-top: auto;
    background-color: #E1B069;  /*change*/
    padding: 10px 0px;
}

.footer-col{
    position: relative;
    width: 20%;
    padding: 0 15px ;
}

.footer-col h6{
    color: #194276;
    font-weight: 600;
    text-decoration: underline;
    line-height: 2.5;
}

.footer-col img{
    width: 70%;
    height: auto;
    display: flex;
}

.footer-col li{
    font-size: 12px;
}

.footer-col ul li a{
    text-decoration: none;
    color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul{
    list-style: none;
}

.footer-col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 10px -30px 0 30px; /*top right bottom left*/
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.bi.bi-facebook{
    color: rgb(0, 0, 158);
}
.bi.bi-line{
    color: #0EBA07;
}
.bi.bi-envelope{
    color: rgba(175, 29, 24, 0.753);
}
.bi.bi-youtube{
    color: rgb(255, 0, 0);
}

/* responsive */
@media(max-width: 767px){
    .footer-col{
        width: 50%;
    }
}