*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Prompt', sans-serif;
}

/* navbar */
.navbar{
    position: fixed;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding: 0;
}

.navbar .nav-wrap{
    display: flex;
    justify-content: space-between;
    height: 70px;
    flex-wrap: nowrap;
}

.navbar .nav-wrap img[logo]{
    height: 4.375rem;
}

.navbar .nav-wrap img[logo2]{
    height: 4.375rem;
    display: none;
}

/* navbar left */
.nav-left{
    display: none;
    align-items: center;
}

.nav-left .nav-menu-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.topic{
    height: 70px;
}

.topic .link{
    padding: 0 5px;
    text-decoration: none;
    color: black;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}

.topic .link span{
    position: relative;
    white-space: nowrap;
}

.topic .link span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: rgb(255, 0, 0);
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.2s ease;
}

.topic:hover .link span::after{
    transform: scale(1,1);
}

.prd-dropdown-wrap{
    position: fixed;
    width: 100vw;
    background: rgb(226,226,226);
    background: linear-gradient(90deg, rgba(226,226,226,1) 50%, rgba(243,243,243,1) 50%);
    left: 0;
    transform: scaleY(0);
    transform-origin: 100% 0%;
    transition: transform 0.2s ease;
    display: none;
    align-items: center;
    justify-content: center;
}

.topic:hover .prd-dropdown-wrap{
    transform: scaleY(1);
    transition: transform 0.1s ease;
}

.prd-dropdown{
    display: flex;
}

.menu-list{
    background-color: rgb(226, 226, 226);
    padding: 0 30px 0 30px;
}

#menuLink8{
    padding-bottom: 50px;
}

.menu-list h3{
    margin-top: 25px;
    text-align: center;
}

.menu-content{
    width: 100%;
    background: rgb(243,243,243);
}

.contents{
    display: none;
    padding: 2rem 0 2rem 2rem;
}

.menu-list .menu-link{
    text-decoration: none; 
    color: black;
}

.menu-list a .menu-link-item{
    position: relative;
    padding: 1.5rem 1.5rem 0 0.5rem;
    width: 100%;
    white-space: nowrap;
}

.menu-list a .menu-link-item span{
    position: relative;
}

.menu-list a .menu-link-item span::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.1rem;
    background-color: red;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.2s ease;
}
.menu-list a .menu-link-item:hover span::after {
    transform: scaleY(1);
    transition: transform 0.1s ease;
}   

.menu-list a .menu-link-item.last{
    padding-bottom: 1.5rem;
}

.items{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.item{
    display: flex;
    width: 33%;
    min-width: fit-content;
}

.item .photo{
    height: 3rem;
    min-width: 4rem;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.item .photo img{
    height: 3rem;
}

.item-right{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.item-right a{
    text-decoration: none;
    color: black;    
}

.item-right a > span {
    position: relative;
}

.item-right a > span > span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: red;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.2s ease;
}

.item-right a > span:hover > span::after {
    transform: scaleY(1);
    transition: transform 0.1s ease;
}   

/*head*/
.item-right a:nth-child(1) {
    font-size: 1.2rem;
    text-align: start;
    white-space: nowrap;
}

/* navbar-right */
.nav-right{
    display: flex;
    align-items: center;
}

.nav-right .searchbox{
    z-index: 50;
}

.nav-right .searchbox input{
    height: 20px;
    align-items: center;
    border-radius: 40px;
    padding: 1rem 2.5rem 1rem 1rem;
    box-shadow:  0px 0px 7px 3px rgba(0,0,0,0.2);
    background-color: #fff;
    margin: 0 1rem;
    outline: none;
    border: none;
}

.nav-right .searchbox button{
    position: absolute;
    border: 0;
    transform: translate(-300%, 20%);
    background-color: white;
}

.nav-right .icon{
    display: none;
    border: none;
    background: none;
    margin-right: 20px;
    color: black;
    font-size: 20px;
}

.nav-right .icon:hover{
    color: #194276;
}

/* dropdown User */
.dropdown-item{
    text-align: center;
}

.dropdown-item:hover{
    color: white;
    background-color: rgb(159, 157, 157);
}

.flex.items-center.justify-between{
    margin: 2% 0 2% 0;
}

.flex.items-center.justify-between div{
    padding: 5px 0 5px 0;
}

.flex.items-center.justify-between a{
    color: black;
    text-decoration: none;
}

.flex.items-center.justify-between svg{
width: 3%;
}

.toggle{
    display: none;
    position: relative;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.toggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: black;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
}

.toggle:hover span{
    background-color: red;
}

.toggle.is-active span:nth-child(1){
    transform: translate(0px, -2px)rotate(45deg);
}

.toggle.is-active span:nth-child(2){
    opacity: 0;
}

.toggle.is-active span:nth-child(3){
    transform: translate(-3px, 3px)rotate(-45deg);
}

.toggle.is-active:hover span{
    background-color: red;
}

.test{
    display: none;
}

.fakenav{
    min-height: 70px;
    padding: 0;
}

/* footer */
footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-wrapper{
    width: 100%;
    margin-top: auto;
    background-color: #E1B069;  /*change*/
    padding: 0.625rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: space-evenly;
}

.footer-col{
    padding-right: 2rem;
    min-width: 12.5rem;
}

.footer-col img{
    margin-top: 0.7rem;
    height: 5rem;
    display: flex;
}

.footer-col h5{
    color: #194276;
    font-weight: 600;
    text-decoration: underline;
    line-height: 2.5;
}

.footer-col li{
    font-size: 1rem;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li a{
    text-decoration: none;
    color: black;
}

.footer-col ul li a:hover{
    text-decoration: underline;
}

.footer-col .social{ 
    white-space: nowrap;
    min-width: fit-content;
    text-align: center;
}

.footer-col .social a{
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    font-size: large;
    background-color: #ffffff;
    margin: 0.7rem 0; 
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.bi.bi-facebook{
    color: rgb(0, 0, 158);
}
.bi.bi-line{
    color: #0EBA07;
}
.bi.bi-envelope{
    color: rgba(175, 29, 24, 0.753);
}
.bi.bi-youtube{
    color: rgb(255, 0, 0);
}

/* responsive */
@media screen and (min-width: 1536px){
    .navbar{ 
        padding: 0 2rem
    }
    .container{
        max-width: 1536px;
    }
}

@media screen and (min-width: 1400px){
    .nav-left{
        display: flex;
    }
    .nav-right .icon{
        display: flex;
    }
    .prd-dropdown-wrap {
        display: flex;
    }
}

@media screen and (min-width: 1300px){
    .navbar{ 
        padding: 0 1rem;
    }
}

@media screen and (max-width: 1400px){
    .footer-wrapper{
        display: none;
    }
    .toggle{
        display: block;
    }
}

@media screen and (max-width: 600px){
    .navbar .nav-wrap img[logo2]{
        display: flex;
    }
    .navbar .nav-wrap img[logo]{
        display: none;
    }
}

.a-wrap{
    position: fixed;
    left: 0;
    top: 70px;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
}

.a{
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.a .b a{
    text-decoration: none;
    color: black;
}

.a .b{
    padding: 1.5rem 0;
    width: 100%;
    text-align: center;
}

.a .b:hover{
    background-color: #c8c8c8;
}

.a .b:hover a span{
    color: #194276;
}

.a .fa{
    height: 46.38px;
    width: 100%;
    background-color: #CECECE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0;
}

.a .fa .icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.a .fa .icons i{
    font-size: 1.5rem;
}

.d-wrap{
    position: fixed;
    left: 0;
    top: 70px;
    display: none;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.sub{
    width: 100%;
    text-align: center;
}

.a .sub b:hover{
    background-color: #c8c8c8;
}

.e-wrap{
    position: fixed;
    left: 0;
    top: 70px;
    display: none;
    width: 100vw;
    align-items: center;
    justify-content: center;
}