*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Prompt', sans-serif;
}

/* navbar */
.navbar{
    position: fixed;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.navbar .nav-wrap{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

/* navbar left */
.nav-left{
    display: flex;
    align-items: center;
}

.nav-left img[logo]{
    height: 60px;
}

.nav-left .nav-menu-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.topic{
    height: 70px;
}

.topic .link{
    padding: 0 5px;
    text-decoration: none;
    color: black;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}

.topic .link span{
    position: relative;
    white-space: nowrap;
}

.topic .link span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: rgb(255, 0, 0);
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.2s ease;
}

.topic:hover .link span::after{
    transform: scale(1,1);
}

.prd-dropdown-wrap {
    position: fixed;
    width: 100vw;
    background: rgb(243, 243, 243);
    background: linear-gradient(90deg, rgb(243, 243, 243,1) 0%, rgb(243, 243, 243,1) 100%);
    left: 0;
    transform: scaleY(0);
    transform-origin: 100% 0%;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: none; */
}

.topic:hover .prd-dropdown-wrap{
    transform: scaleY(1);
    transition: transform 0.1s ease;
}

.prd-dropdown {
    background-color:rgb(243, 243, 243);
    display: flex;
}

.menu-list{
    background-color: rgb(226, 226, 226);
    padding: 0 30px 0 30px;
}

#menuLink8{
    padding-bottom: 50px;
}

.menu-list h3{
    margin-top: 25px;
    text-align: center;
}

.menu-content {
    width: 100%;
}

.contents{
    display: none;
    padding: 2rem 0 2rem 2rem;
}

.menu-list .menu-link{
    text-decoration: none; 
    color: black;
}

.menu-list a .menu-link-item{
    position: relative;
    padding: 1.5rem 1.5rem 0 0.5rem;
    width: 100%;
    white-space: nowrap;
}
.menu-list a .menu-link-item span{
    position: relative;
}
.menu-list a .menu-link-item span::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.1rem;
    background-color: red;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.2s ease;
}
.menu-list a .menu-link-item:hover span::after {
    transform: scaleY(1);
    transition: transform 0.1s ease;
}   

.menu-list a .menu-link-item.last{
    padding-bottom: 1.5rem;
}

.items{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.item{
    display: flex;
    width: 33%;
    min-width: fit-content;
}

.item .photo{
    /* background-color: white; */
    height: 3rem;
    min-width: 4rem;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.item .photo img{
    height: 3rem;
}

.item-right{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.item-right a{
    text-decoration: none;
    color: black;    
}

.item-right a > span {
    position: relative;
}

.item-right a > span > span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: red;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.2s ease;
}

.item-right a > span:hover > span::after {
    transform: scaleY(1);
    transition: transform 0.1s ease;
}   

/*head*/
.item-right a:nth-child(1) {
    font-size: 1.2rem;
    text-align: start;
    white-space: nowrap;
}

/* navbar-right */
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox{
    z-index: 50;
}

.searchbox input{
    height: 20px;
    align-items: center;
    border-radius: 40px;
    padding: 1em 40px 1em 15px;
    box-shadow:  0px 0px 7px 3px rgba(0,0,0,0.2);
    background-color: #fff;
    margin: 0 15px;
    outline: none;
    border: none;
}

.searchbox button{
    position: absolute;
    border: 0;
    transform: translate(-300%, 20%);
    background-color: white;
}

.icon{
    border: none;
    background: none;
    margin-right: 20px;
    color: black;
    font-size: 20px;
}

.icon:hover{
    color: #194276;
}

/* dropdown User */
.dropdown-item{
    text-align: center;
}

.dropdown-item:hover{
    color: white;
    background-color: rgb(159, 157, 157);
}

.flex.items-center.justify-between{
    margin: 2% 0 2% 0;
}
.flex.items-center.justify-between div{
    padding: 5px 0 5px 0;
}
.flex.items-center.justify-between a{
    color: black;
    text-decoration: none;
}
.flex.items-center.justify-between svg{
width: 3%;
}

.fakenav{
    min-height: 70px;
}

/* footer */
footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer .row{
    justify-content: left;
}

.footer{
    width: 100%;
    margin-top: auto;
    background-color: #E1B069;  /*change*/
    padding: 10px 0px;
}

.footer-col{
    position: relative;
    width: 20%;
    padding: 0 15px ;
}

.footer-col img{
    width: 70%;
    height: auto;
    display: flex;
}

.footer-col h6{
    color: #194276;
    font-weight: 600;
    text-decoration: underline;
    line-height: 2.5;
}

.footer-col li{
    font-size: small;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li a{
    text-decoration: none;
    color: black;
}

.footer-col ul li a:hover{
    text-decoration:underline;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 10px -30px 0 30px; /*top right bottom left*/
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.bi.bi-facebook{
    color: rgb(0, 0, 158);
}
.bi.bi-line{
    color: #0EBA07;
}
.bi.bi-envelope{
    color: rgba(175, 29, 24, 0.753);
}
.bi.bi-youtube{
    color: rgb(255, 0, 0);
}

/* responsive */
.Container{
    width: 100%;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
    }
}

@media (min-width: 640px){
    .Container{
        max-width: 640px;
    }
}

@media (min-width: 768px){
    .Container{
        max-width: 768px;
    }
}
@media screen and (min-width: 1024px){ /*mobile*/
    .Container{
        max-width: 1024px;
    }
}

@media screen and (min-width: 1300px){
    .navbar { 
        padding: 0 1rem
    }
    .Container{
        max-width: 1300px;
    }
}

@media screen and (min-width: 1536px){
    .navbar { 
        padding: 0 2rem
    }
    .Container{
        max-width: 1536px;
    }
}
