.body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Container{
    width: 100%;
}

.text{
    color: #dc7226; /*change*/
    margin-left: 5%;
    font-size: 1.563rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*กำหนดให้ในเเถวเดียวกันอยู่ตรงกลาง*/
    margin-bottom: 50px;
}

.NP-col{
    position: relative;
    width: 14.285%;
    text-align: center;
}

.boximgnp{
    display: table;
    height: 250px;
}

.imgnp{
    text-decoration: none; 
    color: black; 
    margin: auto 0; 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.nameimgnp{
    text-decoration: none; 
    color: black; 
    text-align: center;
}

.NP-col img{
    width: 100%;
    height: auto;
    display: flex; 
    padding: 5%; /*ในนอก*/
}
.NP-col p{
    text-align: center;
}

.NP-col p:hover{
    color: rgb(110, 110, 110);
}

/* ขยายรูป */
.NP-col img{
    transform: scale(1);
    transition: 0.3s ease-in-out ;
}

.NP-col img:hover{
    transform: scale(1.15); 
}

/* responsive */


@media(max-width: 1400px){
    .boximgnp{
        height: 170px;
    }
}
@media(max-width: 1200px){
    .boximgnp{
        height: 140px;
    }
}

@media(max-width: 991px){
    .NP-col{
        width: 30%;  
    }
    .text{
        margin-top: 10%;
    }
    .boximgnp{
        height: 220px;
    }
}

@media(max-width: 820px){
    .NP-col{
        width: 50%;  
    }
    .text{
        margin-top: 10%;
    }
    .boximgnp{
        height: 330px;
    }
}

@media(max-width: 750px){
    .NP-col{
        width: 50%;  
    }
    .text{
        margin-top: 10%;
    }
    .boximgnp{
        height: 250px;
    }
}

@media(max-width: 560px){
    .boximgnp{
        height: 250px;
    }
}

@media(max-width: 460px){
    .boximgnp{
        height: 210px;
    }
}

