a{
    color: black;
    text-decoration: none;
}

p{
    margin: 0;
}

.order-detail-page{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.order-detail-home{
    padding: 0 auto;
    max-width: 1320px;
}

.order-detail-home h2{
    margin-top: 2rem;
    text-align: right;
}

.order-detail-menu td{
    text-align: center;
}

.order-detail-wrapper td{
    vertical-align: middle;
}

.order-detail-product a img{
    width: 100px;
}

.order-detail-product a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-detail-wrapper .group-cen{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.order-detail-conclu{
    text-align: center;
}

/* responsive phone */
.phone-order-detail-info{
    display: none;
    padding: 0 auto;
}

.phone-order-detail-menu{
    border-bottom: 1px solid rgba(195, 195, 195, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-order-detail-wrapper{
    border-bottom: 1px solid rgba(195, 195, 195, 0.5);
    display: flex;
    padding: 10px 0;
}

.phone-order-detail-product a img{
    width: 100px;
}

.phone-order-detail-right{
    padding: 0 5px;
    width: 100%;
}

.phone-order-detail-total{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.phone-order-detail-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-order-detail-conclu{
    border-bottom: 1px solid rgba(195, 195, 195, 0.5);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* responsive screen*/
@media screen and (max-width: 767px){
    .order-detail-info{
        display: none;
    }
    .phone-order-detail-info{
        display: block;
    }
}

