*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productNav{
    background-color: #cac6c6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}

.productNav div{
    padding: 0.6rem 0;
    transition: 0.2s all ease;
}

.productNav div:hover{
    color: white;
}

.choices{
    width: auto;
    margin: 10px 0 10px 0;
    display: flex;
    /* align-items: center; */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* min-height: fit-content; */
}

.choices .one-box {
    width: 20%;
    border-radius: 20px;
    padding: 5px 5px;
    background: #194276;
    color: white;
    text-align: center;
    margin: 0px 10px;
    opacity: 0.8
    /* align-items: center; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* cursor: pointer;
    transition: all 0.2s ease; */
}

.choices .one-box:hover{
    background: #194276;
    opacity: 1;
}

.text{
    color: #dc7226; /*change*/
    margin-left: 5%;
    font-size: 25px;
    margin-top: 20px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*กำหนดให้ในเเถวเดียวกันอยู่ตรงกลาง*/
}


.NP-col{
    position: relative;
    width: 14.285%;
    text-align: center;
}

.NP-col img{
    width: 100%;
    height: auto;
    display: flex; 
    padding: 5%; /*ในนอก*/
    
}

/* ขยายรูป */
.NP-col img{
    transform: scale(1);
    transition: 0.3s ease-in-out ;
}
.NP-col img:hover{
    transform: scale(1.15);
    
}

@media(max-width: 767px){
    .NP-col {
        width: 50%;
        
    }
}
