*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ภาพด้านบน */
.wallpaper img{
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 100%;
}

.box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.box img{
    width: 120px;
}

.col{
    text-align: center;
}

.col li{
    text-align: left;
    margin-left: 130px;
}

.col h4{
    margin-bottom: 20px;
}
