.slide-container{
  max-width: 100%;
  width: 100%;
  padding: 40px 40px;
  background: rgb(245, 245, 245);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  background-color: #FFF;
}
.image-content, .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.card.swiper-slide{
  transform: scale(1);
  transition: 0.3s ease-in-out ;
}
.card.swiper-slide:hover{
  transform: scale(1.08);
}

.card-content .name{
  height: 80px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(88, 88, 88);  /*rgb(114, 114, 114);*/
  border-radius: 25px ;
}

.card-image{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
}

.name:hover{
  color: rgb(110, 110, 110); 
}

#button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #194276;
  border-radius: 10px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#button:hover{
  background: rgb(222, 226, 236);
  color: #194276;
}

.swiper-navBtn{
  color: gray;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: black;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 3%;
}
.swiper-button-prev{
  left: 3%;
}
.swiper-pagination-bullet{
  background-color: gray;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: black;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

@media screen and (max-width: 768px) {
  .slide-content{
  margin: 0 10px;
  }
  .swiper-navBtn{
  display: none;
  }
  .slide-container{
      padding: 20px 10px 30px 10px;
  }
}