*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* .text{
    color: #dc7226;
    margin-left: 5%;
    font-size: 25px;
    margin-top: 20px;
} */

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*กำหนดให้ในเเถวเดียวกันอยู่ตรงกลาง*/
    width:100vw;
}

.NP-col{
    position: relative;
    width: 20%;
    text-align: start;
    margin: 3% 0 3% 0;
}

.NP-col img{
    width: 100%;
    height: auto;
    display: flex; 
    padding: 10%; /*ในนอก*/
    
}

.NP-col .card{
    height: 100%;
    background-color: #cac6c6;
    border: none;
    border-radius: 0;
    justify-content: space-between;
}

.card a{
    text-decoration: none;
    color: black;
}

.card-footer .btn{
    background-color: #dc7226;
    color: white;
}

.card-footer .btn:hover{
    background-color: #ffac71;
    color: black;
}

.wrap-pagination-info .flex.items-center.justify-between {
    margin: 0 0 0 5%;
}

/* resonsive */
@media(max-width: 767px){
    .NP-col {
        width: 50%;
    }
}