.container-fluid img {
    width: 12%;
    height: 10%;
}
body {
    font-family: 'Prompt', sans-serif;
}

footer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: #ECECEC;
    padding: 10px 0px;
}

.footer-col {
    position: relative;
    width: 20%;
    padding: 0 15px ;
}

.footer-col h6{
    color: #194276;
    font-weight: 600;
    text-decoration: underline;
    line-height: 2.5;
}

.footer-col img{
    width: 70%;
    height: auto;
    display: flex;
}

.footer-col li{
    font-size: 12px;
}

.footer-col ul li a{
    text-decoration: none;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    color: #ffffff;
    background-color: #707070;
    margin: 10px -30px 0 30px; /*top right bottom left*/
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

@media(max-width: 767px){
    .footer-col {
        width: 50%;
    }
}