body {
    font-family: 'Prompt', sans-serif;
}

.container-fluid img {
    width: 12%;
    height: 10%;
}

h3{
    color: #C4C4C4;
}

.nav-item{
    color: black;
    margin: 5px 5px 0px 5px ; /*top right bottom left*/
    line-height: 35px;
} 
