* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Prompt', sans-serif;
}

img{
    width: 200px;
    height: 60.9px;
}
.head{
    margin: 2%;
}

form {
    width: 60%;
}

.form-group input {
    align-self: center;
}

.form-group input {
    border-radius: 30px;
    margin-bottom: 10px;
}

.form-group label{
    margin-bottom: 10px;
}

h4{
    margin-bottom: 30px;
}

.btn{
    width: 200px;
    height: 40px;
    background: #194276;
    color: white;
    border-radius: 30px;
}

.signin{
    text-align: center;
}

.signin a{
    text-decoration: none;
    color: #0930FF;
}

.signin a:hover{
    text-decoration: underline;
}

.signin i{
    color: #C4C4C4;
}

.signin button{
    background-color: white;
    margin-bottom: 20px;
}

.signin button:hover{
    background-color: #C4C4C4;
}